body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: right;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: auto;
  max-width: 100%;
}

h1,
h2 {
  font-weight: bold !important;
}

main h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0px;
}

.header-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
  padding: 10px 15px;
}

.header-links a.selected {
  font-weight: bold;
  background-color: black;
  border-radius: 5px;
}

.header-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
}

.header-login button {
  display: block;
}

@media (max-width: 768px) {
  .header-links {
    display: flex;
  }
  .header-login button {
    display: none;
  }
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card-primary {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.card-primary h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.card-primary p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 0;
}

.service-card {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.service-card h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.service-card p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 0;
}

.intro-video {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-gap: 10px;
  margin-top: 100px;
}

.grid-item {
  background-color: #ddd;
  padding: 0px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.table1 table {
  border-collapse: collapse !important;
  width: 39.5vw !important;
  margin-bottom: 20px !important;
}

.table1 th,
td {
  border: 1px solid #ddd !important;
  padding: 8px !important;
  text-align: left !important;
}

.table1 th {
  background-color: #f2f2f2 !important;
}

.table1 tr {
  background-color: #f2f2f2 !important;
}

#img1 {
  max-width: 100%;
  width: 100vw;
  height: auto;
  max-height: 60vh;
}

#easter-egg-link:visited {
  color: blue;
}

.audio-sobre {
  padding: 30px;
}

.login-body {
  background-color: grey;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  width: auto;
  height: 45vh;
  margin: auto;
  margin-top: 10%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px #333;
  background-color: white;
}

.form-check-input:checked {
  background-color: grey;
}

#login-form button {
  background-color: #333;
  border-color: #333;
}

#login-form button:hover {
  background-color: grey;
  border-color: grey;
}

#login-form button:active {
  background-color: grey;
  border-color: grey;
}

#login-form button:focus {
  background-color: grey;
  border-color: grey;
}
